<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  
  <!-- VueJs link -->
  <script src="https://unpkg.com/vue@next"></script>

  <link rel="stylesheet" href="./css/tablesort.css" />
  
  <title>Books</title>
  <!-- <link rel="stylesheet" href="css/site.css"> -->
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">The Special One</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./books.html">Books</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<body class="bg">
  
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 
  <div id="offerApp" class="row col-lg-12 text-center">
      <hr>
      <table id="books" class="table table-hover table-light" >
          <thead>
              <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Author(s)</th>
                  <th scope="col">Year Published</th>
                  <th scope="col">Publisher</th>
                  <th scope="col">Page count</th>
                  <th scope="col">MSRP</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="b in books">
                <td>{{ b.title }}</td>
                <td>{{ b.author }}</td>
                <td>{{ b.yearPublished }}</td>
                <td>{{ b.publisher }}</td>
                <td>{{ b.pgCnt }}</td>
                <td>{{ b.msrp }}</td>
                <td>
                  <button type="button" v-on:click="handleEditBook(b)" class="btn btn-outline-secondary btn-sm">Edit</button>
                  <button type="button" v-on:click="postDeleteBook(b)" class="btn btn-outline-secondary btn-sm">Delete</button>
                </td>
              </tr>

               <!-- <tr>
                  <td scope="row">1</td>
                  <td scope="row">Leading</td>
                  <td scope="row">Alex Ferguson, Michael Moritz</td>
                  <td scope="row">2015</td>
                  <td scope="row">Hachette Books</td>
                  <td scope="row">416</td>
                  <td scope="row">$22.97</td>
              </tr>  

                <tr>
                   <td scope="row">2</td>
                   <td scope="row">Scholes: My Story</td>
                   <td scope="row">Paul Scholes</td>
                   <td scope="row">2012</td>
                   <td scope="row">Simon & Schuster UK</td>
                   <td scope="row">299</td>
                   <td scope="row">$13.79</td>
               </tr>  

                <tr>
                   <td scope="row">3</td>
                   <td scope="row">Jose Mourinho: The Art of Winning</td>
                   <td scope="row">Andrew J. Kirby</td>
                   <td scope="row">2016</td>
                   <td scope="row">Red Sportswriting</td>
                   <td scope="row">276</td>
                   <td scope="row">$10.99</td>
               </tr>  

                <tr>
                   <td scope="row">4</td>
                   <td scope="row">My Turn: The Autobiography</td>
                   <td scope="row">Johan Cruyff</td>
                   <td scope="row">2016</td>
                   <td scope="row">Macmillan</td>
                   <td scope="row">320</td>
                   <td scope="row">$30.47</td>
               </tr>  
 
                <tr>
                   <td scope="row">5</td>
                   <td scope="row">I Am Zlatan: My Story On and Off the Field</td>
                   <td scope="row">Zlatan Ibrahimovic</td>
                   <td scope="row">2014</td>
                   <td scope="row">Random House Trade Paperbacks</td>
                   <td scope="row">400</td>
                   <td scope="row">$11.99</td>
               </tr>   -->
               
            </tbody>
      </table>
  
  <h3>{{ selectedBook === null ? "Add " : "Edit " }} Book</h3>
  <form class="bg-light" v-on:submit.prevent="postBook">
    <div class="form-item-format row mb-2">
      <label for="auth" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Title" id="auth" v-model="bookForm.title">
      </div>
    </div>
  <div class="form-item-format row mb-2">
    <label for="auth" class="col-sm-2 col-form-label">Author(s)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Author(s)" id="auth"v-model="bookForm.author">
    </div>
  </div>
  <div class="form-item-format row mb-2 mb-2">
    <label for="yearpub" class="col-sm-2 col-form-label">Year Published</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Year Published" id="yearpub" v-model="bookForm.yearPublished">
    </div>
  </div>
  <div class="form-item-format row mb-2">
    <label for="pub" class="col-sm-2 col-form-label">Publisher</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Publisher" id="pub" v-model="bookForm.publisher">
    </div>
  </div>
  <div class="form-item-format row mb-2">
    <label for="pgcount" class="col-sm-2 col-form-label">Page count</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Page count" id="pgcount" v-model="bookForm.pgCnt">
    </div>
  </div>
  <div class="form-item-format row mb-2">
    <label for="msrp" class="col-sm-2 col-form-label">MSRP</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="MSRP" id="msrp" v-model="bookForm.msrp">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add " : "Edit " }} Book</button>
  <button type="button" class="btn btn-outline-secondary" 
     v-if="selectedBook"
     v-on:click="handleResetEdit">Cancel Edit</button>
  </form>
</div>

<script src="./js/tablesort.min.js"></script>

<script>
  new Tablesort(document.getElementById('books'));
</script>

<script src="./js/index.js"></script>
</body>
  
</html>
